<div>
  <img src="{{selectedStock.companyLogo}}"
       alt="{{selectedStock.companyName}}"
       style="width:200px; height: 200px"
  />
</div>
<div>
  <h3 class="stock-title margin-bottom-10">
    {{selectedStock.companyName}} ({{selectedStock.stockSymbol}})
  </h3>
  <div class="margin-bottom-15">
    <span class="technology-label">
      {{selectedStock.finnHubIndustry}}
    </span>
  </div>
  <div class="margin-bottom-25">
    <b>Exchange:</b>
    <span class="exchange-label">{{selectedStock.exchange}}</span>
  </div>
  <div class="margin-bottom-25 stock-price">
    <b class="text-grey">$</b>
    <span class="text-bold">{{selectedStock.stockPrice}}</span>
  </div>
</div>
<a class="button button-blue-back no-link"
   (click)="onTradeNowButtonClicked()">Trade Now</a>
