<table class="table w-100">
  <thead>
    <tr>
      <th style="width: 5%">Currency</th>
      <th style="width: 55%">Description</th>
      <th style="width: 15%">Display Symbol</th>
      <th style="width: 15%">Symbol</th>
      <th style="width: 15%">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks | slice:start:end">
      <td>{{stock.currency}}</td>
      <td>
        <a class="list-link"
           (click)="onStockDescriptionClick(stock.symbol)">{{stock.description}}</a>
      </td>
      <td>{{stock.displaySymbol}}</td>
      <td>{{stock.symbol}}</td>
      <td>{{stock.type}}</td>
    </tr>
  </tbody>
</table>
<button type="button"
        class="button button-blue-back margin-top"
        (click)="onLoadMoreButtonClicked()"
        *ngIf="isShowLoadMoreButtonShown"
>Load More...</button>
