<div *ngIf="getIsUserLoggedIn()">
  <a (click)="onViewPdfLinkClicked()">View as PDF</a>
  <div class="flex margin-top-10">

    <!--Buy Orders-->
    <div class="flex-1 box">
      <div class="text-grey">Buy Orders</div>
      <br />
      <div class="flex flex-direction-column">
        <div class="border-bottom" *ngFor="let order of buyOrders">
          <!--Stock Details-->
          <div class="margin-bottom-10">
            <h3>{{order.stockName}} ({{order.stockSymbol}})</h3>
            <span class="text-bold">{{order.orderQuantity}}</span> shares at <span class="text-bold">${{order.orderPrice}}</span>
          </div>

          <!--Trade Amount-->
          <div class="margin-bottom-10">
            <span class="text-grey">Trade Amount: </span><span class="text-bold">${{computeTradeAmount(order.orderQuantity, order.orderPrice)}}</span>
          </div>

          <!--Date and Time of Order-->
          <div class="margin-bottom-10">
            <span class="text-grey">{{formatDateTime(order.DateAndTimeOfOrder)}}</span>
          </div>
        </div>
      </div>
    </div>

    <!--Sell Orders-->
    <div class="flex-1 box">
      <div class="text-grey">Sell Orders</div>
      <br />
      <div class="flex flex-direction-column">
        <div class="border-bottom" *ngFor="let order of sellOrders">
          <!--Stock Details-->
          <div class="margin-bottom-10">
            <h3>{{order.stockName}} ({{order.stockSymbol}})</h3>
            <span class="text-bold">{{order.orderQuantity}}</span> shares at <span class="text-bold">${{order.orderPrice}}</span>
          </div>

          <!--Trade Amount-->
          <div class="margin-bottom-10">
            <span class="text-grey">Trade Amount: </span><span class="text-bold">${{computeTradeAmount(order.orderQuantity, order.orderPrice)}}</span>
          </div>

          <!--Date and Time of Order-->
          <div class="margin-bottom-10">
            <span class="text-grey">{{formatDateTime(order.DateAndTimeOfOrder)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
