<a (click)="onViewPdfLinkClicked()">View as PDF</a>
<div class="flex margin-top-10">

  <!--Buy Orders-->
  <div class="flex-1 box">
    <div class="text-grey">Buy Orders</div>
    <br />
    <div class="flex flex-direction-column">
      <div class="border-bottom" *ngFor="let order of buyOrders">
        <!--Stock Details-->
        <div class="margin-bottom-10">
          <h3>{{order.stockName}} ({{order.stockSymbol}})</h3>
          <span class="text-bold">{{order.orderQuantity}}</span> shares at <span class="text-bold">${{order.orderPrice}}</span>
        </div>

        <!--Trade Amount-->
        <div class="margin-bottom-10">
          <span class="text-grey">Trade Amount: </span><span class="text-bold">${{computeTradeAmount(order.orderQuantity, order.orderPrice)}}</span>
        </div>

        <!--Date and Time of Order-->
        <div class="margin-bottom-10">
          <span class="text-grey">{{formatDateTime(order.DateAndTimeOfOrder)}}</span>
        </div>
      </div>
    </div>
  </div>

  <!--Sell Orders-->
  <div class="flex-1 box">
    <div class="text-grey">Sell Orders</div>
    <br />
    <div class="flex flex-direction-column">
      <div class="border-bottom" *ngFor="let order of sellOrders">
        <!--Stock Details-->
        <div class="margin-bottom-10">
          <h3>{{order.stockName}} ({{order.stockSymbol}})</h3>
          <span class="text-bold">{{order.orderQuantity}}</span> shares at <span class="text-bold">${{order.orderPrice}}</span>
        </div>

        <!--Trade Amount-->
        <div class="margin-bottom-10">
          <span class="text-grey">Trade Amount: </span><span class="text-bold">${{computeTradeAmount(order.orderQuantity, order.orderPrice)}}</span>
        </div>

        <!--Date and Time of Order-->
        <div class="margin-bottom-10">
          <span class="text-grey">{{formatDateTime(order.DateAndTimeOfOrder)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>











  <!--<div class="flex">
    <div class="flex-1 box">
      <div class="text-grey">Buy Orders</div>
      <br />
      <div class="flex flex-direction-vertical">
        @foreach(OrderResponse buyOrder in Model.BuyOrders)
        {
        <div class="border-bottom">
          <div class="mb">
            <h3>@buyOrder.StockName (@buyOrder.StockSymbol)</h3>
            <span class="text-bold">@buyOrder.OrderQuantity</span> shares at <span class="text-bold">$@buyOrder.OrderPrice</span>
          </div>
          <div class="mb">
            <span class="text-grey">Trade Amount: </span><p class="text-bold">$@ComputeTradeAmount(buyOrder.OrderQuantity, buyOrder.OrderPrice)</p>
          </div>
          <div class="mb">
            <span class="text-grey">@FormatDateTime(buyOrder.DateAndTimeOfOrder)</span>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="flex-1 box">
      <div class="text-grey">Sell Orders</div>
      <br />
      <div class="flex flex-direction-vertical">
        @foreach(OrderResponse sellOrder in Model.SellOrders)
        {
        <div class="border-bottom">
          <div class="mb">
            <h3>@sellOrder.StockName (@sellOrder.StockSymbol)</h3>
            <span class="text-bold">@sellOrder.OrderQuantity</span> shares at <span class="text-bold">$@sellOrder.OrderPrice</span>
          </div>
          <div class="mb">
            <span class="text-grey">Trade Amount: </span><p class="text-bold">$@ComputeTradeAmount(sellOrder.OrderQuantity, sellOrder.OrderPrice)</p>
          </div>
          <div class="mb">
            <span class="text-grey">@sellOrder.DateAndTimeOfOrder</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>-->
