<div class="navbar-container w-100">
  <div class="navbar navbar-lightgray-bg  w-100">
    <div class="flex w-100">
      <!--App Title-->
      <div class="flex-1 w-50 inline-block">
        <h2 class="app-title">Stock App</h2>
      </div>

      <!--Navbar List-->
      <div class="flex-1 w-50 inline-block align-right">
        <div class="navbar-list">
          <ul>
            <li (click)="onLoginButtonClicked()"
                *ngIf="!pageLinks.getIsUserLoggedIn()">
              Login
            </li>
            <li (click)="onRegisterButtonClicked()"
                *ngIf="!pageLinks.getIsUserLoggedIn()">
              Register
            </li>
            <li (click)="onLogoutButtonClicked()"
                *ngIf="pageLinks.getIsUserLoggedIn()">
              Logout
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Page Links-->
    <div class="flex w-100"
         *ngIf="pageLinks.getIsUserLoggedIn()">
      <div class="flex-1 w-50">
        <div class="navbar-list">
          <ul>
            <li>
              <a (click)="onStockListLinkClick()">Stocks List</a>
            </li>
            <li>
              <a (click)="onPopularStocksListCLicked()">Popular Stocks</a>
            </li>
            <li>
              <a (click)="onTradeLinkClick()"
                 *ngIf="pageLinks.getTradeLinkVisibility()">Trade</a>
            </li>
            <li>
              <a (click)="onOrdersLinkClick()"
                 *ngIf="pageLinks.getOrderLinkVisibility()">Orders</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-1 w-50">
      </div>
    </div>
  </div>
</div>
<div class="page-content">
  <router-outlet></router-outlet>
</div>
