<div class="flex"
     *ngIf="getIsUserLoggedIn()">
  <div class="flex-1 w-50">
    <div class="box">
      <div class="text-grey">
        Stocks
      </div>
      <table class="table table-white w-100">
        <tbody>
          <tr *ngFor="let stock of popularStocks"
              class="cursor-pointer"
              (click)="onStockSelected(stock.stockSymbol)">
            <td>
              <div class="text-bold">{{stock.stockName}}</div>
              <div class="text-grey">
                ({{stock.stockSymbol}})
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex-1 w-50">
    <app-selected-stock *ngIf="!!selectedStock"
                        [selectedStock]="selectedStock">
    </app-selected-stock>
  </div>
</div>
